# ============================================================
# SISTEMA
# ============================================================

desktop.ini
Thumbs.db
.DS_Store


# ============================================================
# ENTORNOS PYTHON
# ============================================================

.env
.venv/
venv/
env/

__pycache__/
*.py[cod]


# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/


# ============================================================
# DATOS
# ============================================================

datos/

*.csv
*.xlsx
*.xls
*.parquet
*.feather

*.db
*.sqlite
*.duckdb


# ============================================================
# ENTREGABLES PESADOS
# ============================================================

entregables/


# ============================================================
# LOGS
# ============================================================

*.log


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/
